@import 'ressources.css';

p{
    font-size: 50px;
    color: white;
}
#navbar{
width: 100vw;

position: fixed;
top: 0;
z-index: 100;

background-color: rgba(0, 0, 0, 0);

}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    font-size: 20px;
    letter-spacing: 5px;
    font-family: 'SourceTxt';
    text-transform: uppercase;

    padding: 15px;
}
#navbar li{
    cursor: pointer;
    transition: background-color 0.5s;

}
#navbar li:hover{
    background-color: rgba(97, 6, 6, 0.589);
    color: red;

}
.menuBurger, .Menu{
    display: none;
}
#FirstSection, #TrdSection{
    width: 100vw;
    height: 100vh;
}
#FirstSection{
position: relative;
overflow: hidden;

display: flex;
justify-content: center;
align-items: center;
}
#FirstSection img{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;

}
#imageTop{
    z-index: 4;
}
#imageBottom{
    z-index: 6;

}
#textTitle{
    position: absolute;
    top: 30%;

    z-index: 15;

    width: 100vw;
    height: auto;

}
#textTitle h1{
    font-family:'titreBelzebuth';
    font-size: 23vw;
    background: -webkit-linear-gradient(#eee 15%,rgb(255, 0, 0) 50%, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;

    margin-bottom: -10vh;
}
#textTitle p {
    font-family: 'SourceSsTxt';
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.fa-brands, .fa-solid{
    color: red;
    font-size: 50px;

    cursor: pointer;
}
.ContainerReseau{
    position: fixed;
    top: 0;
    z-index: 120;
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.76);

  transition: opacity 0.25s;
  visibility: hidden;
}
.block{
    width: 20vw;
    height: 50vh;

    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: rgb(19, 19, 19);
}
.HeaderBlock{

    width: 100%;
    height: 50%;

    background-image: linear-gradient(
  0deg,
  hsl(0deg 0% 0%) 0%,
  hsl(344deg 0% 1%) 24%,
  hsl(344deg 0% 2%) 38%,
  hsl(0deg 0% 4%) 47%,
  hsl(5deg 32% 11%) 55%,
  hsl(2deg 41% 16%) 61%,
  hsl(0deg 46% 22%) 67%,
  hsl(360deg 54% 27%) 72%,
  hsl(360deg 62% 32%) 77%,
  hsl(0deg 68% 37%) 82%,
  hsl(360deg 76% 39%) 87%,
  hsl(360deg 86% 41%) 93%,
  hsl(0deg 100% 41%) 100%
);
}
.block i{
    padding-left:45%;
    transform: translateY(-20px);
    font-size: 50px;

}
.block h4{
    font-family:'SourceTxt';
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center

}
.open{
    visibility: visible;
}
.ContainerEmail{
    position: fixed;
    top: 0;
    z-index: 120;
 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.76);

  transition: opacity 0.25s;
  visibility: hidden;
}
.ContainerEmail p, .ContainerReseau p {
    position: absolute;
    top: 0;
    padding-top: 60px;
    font-size: 35px;
    font-family: 'SourceTxt';
    cursor: pointer;
}
#email{
    width: auto;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-around;

    font-family: 'SourceTxt';
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    

    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: rgb(19, 19, 19);
}
#email input{
    width: 20vw;
    height: 7vh;

    background-color: rgba(0, 0, 0, 0.336);
    color: red;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

    border: 0;

}

#boutonEmail:hover{
background-color: red;
color:white;
}

#SndSection{
    width: 100vw;
    height: 100vh;

    position: relative;
    top: -0vh;
    /* top:-30vh en media screen */
    z-index: 7;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.011642156862745057) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 16%);

    display: flex;
    align-items: center;
    justify-content: center;
}
.containerProduit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between ;

    width: 90vw;
    height: 60vh;
    background-image: linear-gradient(
        325deg,
        hsl(0deg 0% 0%) 0%,
        hsl(339deg 0% 0%) 8%,
        hsl(339deg 0% 0%) 17%,
        hsl(0deg 0% 0%) 25%,
        hsl(339deg 0% 0%) 30%,
        hsl(339deg 0% 0%) 35%,
        hsl(0deg 0% 0%) 40%,
        hsl(0deg 4% 3%) 50%,
        hsl(0deg 3% 5%) 63%,
        hsl(0deg 3% 7%) 76%,
        hsl(12deg 64% 15%) 84%,
        hsl(8deg 86% 22%) 92%,
        rgb(168, 8, 8) 100%
      );
      box-shadow: rgba(224, 33, 33, 0.678) 15px 20px 30px -10px;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out;
}
.containerProduit:hover{
        box-shadow: 0 0 30px red;

}
.TitleProduct{
    font-family:'SourceSsTitre' ;
    font-size: 10vw;
    color: rgb(255, 0, 0);
    letter-spacing: 15px;

    filter: drop-shadow(0 0 10px red);
    

}
.containerNodeProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.nodeProduct{

    font-family:'SourceTxt';
font-size: 5vmin;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

    width: auto;

    margin: 0 20px 20px 20px;
}
.nodeProduct:last-child{
   
    width: 20vw;
    background-color: black;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

}
.containerPhoto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    position: absolute;

    width: 100%;
}
.containerPhoto img{
    margin-right: 50px;
    width: 15%;
    height: auto;
    color: white;
}
.img0{
    padding-bottom: 240px;
    opacity: 0.7;

}
.img1{
    position: absolute;
    top: 0vh;
    bottom: 20vh;
    left: 20vw;
    padding-top: 50px;
    transform: rotate(40deg);
    opacity: 0.5;
}
.img3{
    position: absolute;
    top:40vh;
    right: 20vw;
    transform: rotate(-35deg);
}
#TrdSection{
background-color: black;
}
.triangle{
    width: 100vw;
    height: 100vh;
    background-color: red;
    clip-path: polygon(0 0, 0 100%, 100% 0);

}
.containerEvent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top:200vh;
    z-index: 10;

    width: 80vw;
    height: 90vh;

    margin: 5vh 10vw;
}
.Event{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 30%;

    background-color: rgba(26, 22, 22, 0.342);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.photo {
    width: 30%;
    height: 95%;

    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;}
.photo img{
    width: 100%;
    height: 100%;
}

.Texte{
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    font-family: 'SourceTxt';
    text-align: center;
}
.Texte h1{
    font-family: 'SourceSsTitre';
    font-size: 30px;

    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 5px 5px 0 5px;
}
.Texte p{
    font-size: 20px;
    padding: 7px 7px 0 7px;

}

.produitMoment p{
    padding-bottom: -5px;
}
.containerCom{
    width: 100vw;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

}
#Comments{
    width: 50%;
    height: 90%;
}

#commentaire{
    
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;

    font-family: 'SourceTxt';
    font-size: 27px;
}
#commentaire input{
    background-color: rgb(25, 25, 26);

    color: white;
    font-size: 20px;

    width: 300px;
    height: 7vh;

    box-shadow: rgba(151, 151, 151, 0.562) 0px 10px 20px -12px;
    border: 0;
}
#affichageCom{
    width: 45%;
    height: 70%;

    border-left: 1px solid;
    margin-left: 20px;

}
.affichageUnite{
    width: 100%;
    height: 10vh;
    margin: 10px;

    background-color: white;
    border-radius: 20px;
    color: black;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.identifiant{
    font-family: 'SourceTxt';
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.message{
    font-family: 'SourceTxt';
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;

}

.btncom{
    width: 5vw;
}
.containerConnexion{
    position: fixed;
    top: 0;
    z-index: 20;
 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.76);

  transition: opacity 0.25s;
  visibility: hidden;

}
#identification{
    width: 50vw;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-family: 'SourceTxt';
}
#bouton{
    color: white;
    border: 1px solid;

    background-color: rgba(238, 238, 238, 0);
    padding: 10px;
    transition: all 0.2s;

}
#bouton:hover{
    background-color: white;
    color: black;
}
.fermeture{
    font-family: 'SourceTxt';
    text-transform: uppercase;
    font-size: 30px;

    padding: 20px;
    transition: transform 0.2s;
}
.fermeture:hover{
    transform: scale(1.1);
}

.open{
visibility: visible;
}
.Plan {
    text-align: center;
    font-family:'SourceSsTitre';
    font-size: 70px;
}
nav{
    width: 80vw;
    height: 30vh;

    margin: 5vh 10vw;

    box-sizing: border-box;
    box-shadow: rgb(36, 36, 36) 0px 20px 30px -10px;
}
nav iframe{
    width: 100%;
    height: 100%;
}
footer{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
footer p{
    font-family: 'SourceTxt';
    font-size: 15px;
}
footer span{
    text-transform: uppercase;
}

@media screen and (max-width: 1300px){
    #textTitle h1{
        font-size: 200px;
    }
}

@media screen and (max-width: 1203px){
    .Texte1{
        display: none;
    }
    
}
@media screen and (max-width: 700px){
    #navbar{
        display: none;
    }
        .menuBurger{
        display: block;
        position: fixed;
        top: 0%;
        left: 45vw;
        z-index: 40;

        padding: 0px 15px;

        background-color: rgba(0, 0, 0, 0.576);
        font-size: 20px;
        font-weight: 100;
        border-radius: 0 0 5px 5px;
        transition: all 0.5s;


    }
    .fa-solid{
        color: rgba(255, 0, 0, 0.478);
    }
    .Menu{
        display: block;
        position: fixed;
        top: 0%;
        z-index: 40;
        
        width: 100vw;
        height: 40vh;

        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.676);
        font-size: 20px;
        font-family: 'SourceTxt';

        transform: translateY(-40vh);
        transition: all 0.5s;


    }
    .Menu ul{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .Menu li:hover{
        transform: scale(1.01);
    }
    .descente{
        transform: translateY(0vh);
        transition: all 0.5s;

    }
    .descente1{
        transform: translateY(40vh);
        transition: all 0.5s;

    }
    
     
}
@media screen and (max-width: 360px){
    #SndSection{
        background: rgb(255,0,0);
        background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(140,3,3,1) 26%, rgba(0,0,0,1) 100%);
    }
.containerPhoto{
    display: none;
}
.containerProduit{
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    background-image: black;

    
}
.TitleProduct{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.containerNodeProduct{
    padding: 0%;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nodeProduct{
margin-left: 1%;
    width: 98%;
    height: auto;
}
.nodeProduct:last-child{
    margin-left: 1%;

    width: 98%;
}
}