<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styleBackOffice.css" type="text/css">
    <title>Back-Office Belzebuth bar</title>
</head>
<body>
    <header>
        <div class="containerboutton">
            <a href="/index">
                <div id="button2" class="touche">Le Belzebuth</div>
            </a>
            <a href="/backOffice/Control">
                <div id="button1" class="touche">Controle</div>
            </a>
 
            <div class="touche">Ajouter un admin</div>
        </div>
    </header>
    <nav>   
      <h1>Bienvenue sur le Back-Office du bar <br> le Belzebuth</h1>
    </nav>

</body>
</html>
